@use 'sass:map';
@use '@angular/material' as mat;
@import "src/custom-theme";

.mat-card {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 10px !important;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.text {
  font-size: 10px;
  text-align: center;
}

.divider {
  border-top: 3px solid mat.get-color-from-palette($mat-primary, darker);
  width: 100%;
}
